<div class="title">
  <h1>Free Hot Tub</h1>
</div>

<div id="analytics">
  <div style="text-align:center;">
    <div class="tub" style="display:inline-block;width:170px;margin-bottom:30px; background-color: #BFFFF3;border-bottom: solid 10px #fbccfc;">
      <h4 style="text-align:left;">Count</h4>
      <div id="count-chart"><div class="filter-count"></div></div>
    </div>
    <div class="tub" style="display:inline-block;width:325px;height:300px;margin-bottom:30px; background-color: #BFFFF3;border-bottom: solid 10px #fbccfc;">
      <h4 style="text-align:left;">Location</h4>
      <div id="location-chart"></div>
    </div>
  </div>
  <div class="tub" style="height:450px;margin-bottom:30px; background-color: #BFFFF3;border-bottom: solid 10px #fbccfc;">
    <h4 style="text-align:left;">Days Available</h4>
    <div id="duration-chart"></div>
  </div>
</div>